{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<br>

<div class="row">
    <div class="col">
      {% url 'blog_list' as blog_list_url %}
      {% bootstrap_button "Volver a Home" button_class="btn-warning" button_type="link" href=blog_list_url %}
    <div>
  <div>
  <br>


<h1> <u> Sobre la Aplicación </u>  </h1> <br> <br>

<p class="bg-info text-black"> <b>
    Esta aplicación se basa en un blog de sugerencias de los huespedes de un hotel. <br>
  
    Funciona a través de formularios de alta, baja y modificación. <br> Los mismos solo se presentan a aquellos Users que hayan creado un perfil en la página y posteriormente <br>
    La aplicación contiene las opciones correspodientes para que el usuario pueda crear su perfil, ingresarlo a traves de un login y cerrarlo a traves de un logout. <br>
     El perfil puede editarse y contiene las opciones de agregar nombre, apellido, email
  </b> </p>