{%extends "blog/base_blog.html" %}

{% load bootstrap5 %}


{%block detail%}


<div class="row">
    <div class="col">
      {% url 'blog_list' as blog_list_url %}
      {% bootstrap_button "Volver" button_class="btn-warning" button_type="link" href=blog_list_url %}
    <div>
  <div>
  <br>

<div>
    <h4>Título: {{object.titulo}} </h4>
    <br>
    <h4>Sugerencia del huesped: </h4> <br> <p><b> {{object.sugerencia}}</b></p>
    <br>
    <h4> Nombre del huesped: </h4> <b>  {{object.nombre_de_huesped}} </b>
</div>

{%endblock%}