{%extends "blog/base_blog.html" %}

{% load bootstrap5 %}

{%block logout%}

<h1><B><FONT COLOR="blue"> Cerraste Sesión! </FONT> </b></h1> <br>
<h3> Gracias por ingresar al Blog de Sugerencias </h3> <br> <br>

<div class="row">
    <div class="col">
      {% url 'blog_list' as blog_list_url %}
      {% bootstrap_button "Volver a Lista de Blogs" button_class="btn-warning" button_type="link" href=blog_list_url %}
      {% url 'blog_login' as blog_login_url %}
      {% bootstrap_button "Volver a iniciar Sesión" button_class="btn-success" button_type="link" href=blog_login_url %}
    <div>
  <div>
  <br>

  {%endblock%}  
